name: CI

permissions: write-all

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          enable-cache: true
      - uses: actions/setup-python@v4
        with:
          python-version: "3.12"
      - run: uv sync
      - name: Test Coverage
        run: PYTHONPATH=src uv run python -m coverage run --source=stochpw -m pytest tests && uv run python -m coverage report -m && uv run python -m coverage xml
      - name: Deploy GH Pages
        run: PYTHONPATH=src uv run mkdocs gh-deploy --force
      - uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true # optional (default = false)
          files: ./coverage.xml
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true # optional (default = false)
